<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="font-mono">
    <div class="mt-10 grid items-center justify-center gap-2">
        <label for="message"></label><textarea name="message" id="message" cols="30" rows="10">{{.Message}}</textarea>
        <button hx-get="/ai/query" hx-target="#result" hx-include="#message">Send</button>
        <div id="result"></div>
    </div>
</div>
</body>
</html>