<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="font-mono">
    <div class="mt-10 grid items-center justify-center gap-2">
        <div class="grid grid-cols-2 gap-0 justify-items-end gap-2">
            <label class="">Team Name</label>
            <input class="border-solid border-4" type="text" title="Team Name" value="" name="teamname" id="teamname"/>
        </div>
        <div class="grid grid-cols-2 justify-items-end gap-2">
            <label>User</label>
            <input class="border-solid border-4" type="text" title="User" value="" name="user" id="user"/>
        </div>
    </div>
</div>
</body>
</html>