<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div>
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="flex flex-row items-center justify-center gap-2 p-2">
            <label>Team Name</label>
            <input class="border-solid border-4" type="text" title="Team Name" value="" name="teamname" id="teamname"/>
        </div>
        <div class="flex flex-row items-center justify-center gap-2">
            <label>User</label>
            <input class="border-solid border-4" type="text" title="User" value="" name="user" id="user"/>
        </div>
    </div>
</div>
</body>
</html>